*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

header{
    padding: 16px 0;
    background-color: rgb(94, 94, 249);
    color: #fff;
}

header nav li{
    display: inline;
    margin-left: 38px;
    padding-left: 16px;
}

header nav li a{
    color: #fff;
}

header .container ,section.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container{
    align-items: flex-start;
    padding: 23px;
    width: 100%;
}

section h2{
    position:relative;
    vertical-align: text-top;
    display: grid;
    column-gap: 1%; 
}

section img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.Produtos img{
    width: 100px
}

.Produtos {
    display: flex;
}

.Produtos li{
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.Produtos button{
    display: block;
    width: 100%;
    padding: 10px 0;
    border: none;
    background-color: rgb(31, 117, 221);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

@media screen and (orientation:portrait){
    body{
        background-color: rgb(251, 175, 94);
    } 

    .container{
        width: 90%;
        margin: 0 auto;
        display:block;
        padding: 8px;
    }

    header{
        padding: 16px 0;
        background-color: rgb(72, 201, 224);
        color: #fff;
    }

    section img{
        margin-left: 0;
        margin-right: 0;
        width: 90%;
        border-collapse: collapse;
      }

      .Produtos{
        display: block;
        margin-bottom: 32px;
       }
      
      .Produtos button{
        width: 90%;
        border: none;
        background-color: rgb(4, 236, 31);
        color: #fff;
    }

}

@media screen and (min-width:820px)and (max-width:1180px) {
    .container{
        max-width: 90%;
        display: block;
        padding: 16px;
        background-color: beige;
    }

    header nav li a{
        color: #0b77c9;
    }

    header{
        background-color:rgb(163, 65, 249);
        color: #0b77c9;
    }

    .Produtos button{
        display: block;
        width: 90%;
        border: none;
        background-color: rgb(29, 10, 205);
        color: #fff;
        font-weight: bold;
        font-style: italic;
        cursor: pointer;
        border-radius: 6px;
    }
   
}

@media (min-width:1181px) {
    .container{
        max-width: 90%;
    }
}



